.mc {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: #000;
}

.menu {
    margin: 0;
    background: #0ff;
    color: #000;
    height: 1px;
    min-height: 1px;

    & &__item {
        min-width: 7px;
        text-align: center;
        display: inline-block;
        margin-left: 1px;
        margin-right: 1px;
        color: black;
    }

    &__item-shortcut {
        color: #000;
    }
}

.content {
    display: flex;
    flex-grow: 1;
}

.panel {
    display: flex;
    flex-direction: column;
    width: 50%;

    border: solid 1px #fff;

    background: #00f;

    & &__caption {
        position: absolute;

        margin-top: -1px;
        color: #fff;
    }

    &_selected .panel__caption {
        color: #000;
        background: #fff;
    }
}

.file-list {
    color: #fff;
    overflow: auto;
}

.header {
    display: flex;
    height: 1px;
    color: white;
}

.file {
    display: flex;
    height: 1px;
    color: white;

    &_state_selected {
        background: #0ff;
        color: #000;

        .file__name,
        .file__size {
            border-right-color: black;
        }
    }

    &_type_file .file__name {
        padding-left: 1px;
    }

    &_type_directory {
        font-weight: bold;
    }
}

.file__name,
.header__name {
    flex-grow: 1;
    border-right: solid 1px #fff;
    overflow: hidden;
    height: 1px;
}

.file__size,
.header__size {
    flex-basis: 10px;
    border-right: solid 1px #fff;
}

.file__size {
    text-align: right;
    overflow: hidden;
}

.file__time,
.header__time {
    flex-basis: 12px;
    text-align: right;
}

.file_state_focused .file__name_type_file {
    color: white;
}

.header__name,
.header__size {
    color: yellow;
    text-align: center;
    font-weight: bold;
}

.header__time {
    color: yellow;
    text-align: left;
    font-weight: bold;
}

.console {
    height: 1px;
    min-height: 1px;
    overflow: hidden;
    color: grey;
    background: #000;
}

.console__input {
    border: none;
    color: #fff;
    background: inherit;
    height: 1px;
    width: 100%;
}

.controls {
    display: flex;
    height: 1px;
    min-height: 1px;
}

.control {
    display: flex;
    flex-grow: 1;
    height: 1px;
    min-height: 1px;

    & &__number {
        width: 2px;
        min-width: 2px;
        text-align: right;
        color: #fff;
    }
}

.control__name {
    flex-grow: 1;
    background: #0ff;
    color: #000;
}
