doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        title=title
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1')

    body
        div#app

    if (env.NODE_ENV === 'development')
        script(src='http://localhost:2992/assets/index.js', defer)
    else
        script(src='/assets/index.js', defer)
